@import "style";

$text-color-purple: #572ee5;
$text-color-black: #000000;
$text-color-green: #50e3c2;
$text-color-gray: #9cafc3;
$text-color-white: #ffffff;

$background-color-purple:#572ee5;
$background-color-white: #ffffff;
$background-color-dark-white: #f3f5f8;
$background-color-light-gray: #9cafc3;
$background-color-black: #000000;
$background-color-gray: #37383C;
$background-color-dark-gray: #222326;


$breakpoint-mobile: 760px;
$breakpoint-tablet: 1200px;

body {
   border-top: 5px solid $background-color-purple;
   border-bottom: 5px solid $background-color-purple;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: $background-color-white;
   &.body-inactive {
      overflow: hidden;
   }
}

.header {
   display: flex;
   width: 82%;
   color: $text-color-purple;
   background-color: $background-color-white;
   justify-content: space-between;
   align-items: center;
   font-size: 16px;
   height: 90px;
   position: sticky;

   &__logo {
      height: 68px;
      width: 68px;
      &:hover {
         cursor: pointer;
      }
   }
   &__search {
      display: flex;
      border: 1px solid $background-color-purple;
      border-radius: 50px;
      padding: 15px 0px;
      height: 18px;
      width: 332px;
      align-items: center;
      justify-content: center;
      margin-left: 5%;
      opacity: 0;

      &--active {
         opacity: 1;
      }
   }
   &__inputSearch {
      width: 60%;
      border: none;
      margin-left: 24px;
      margin-right: 34px;
      font-family: $secondary-font-family;
      font-size: 1rem;
      color: $text-color-gray;
   }
   &__iconSearch {
      cursor: pointer;
   }

   &__icon {
      opacity: 0;
   }

   &__input {
      display: none;
      &:checked {
         & ~ .header__label {
            .header__icon {
               background: transparent;
            }
         }
         & ~ .header__nav {
            display: flex;
         }
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__li {
      list-style: none;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      color: $text-color-purple;
      margin: 0px 25px;
      cursor: pointer;
      &:hover {
         border-bottom: 2px solid $text-color-green;
      }
      &:active {
         color: $text-color-gray;
         border: none;
      }

      &--active{
         color: $text-color-gray;
      }
   }
   &__line{
      list-style: none;
      text-decoration: none;
   }

   &__circle {
      width: 52px;
      height: 52px;
      min-width: 52px;
      min-height: 52px;
      border: 1px solid $background-color-purple;
      border-radius: 50px;
      text-align: center;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
         color: $text-color-white;
         background-color: $background-color-purple;
      }
      &:active {
         background-color: $background-color-light-gray;
         border: 1px solid $text-color-gray;
      }

      &--active{
         background-color: $background-color-light-gray;
         border: 1px solid $text-color-gray;
         color: $text-color-white;
      }
   }
}

.home {
   display: none;
   &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin-top: 76px;
   }

   &__title {
      font-size: 2.2rem;
      color: $text-color-purple;
      max-width: 65%;
      text-align: center;
   }
   &__span {
      color: $text-color-green;
   }
   &__containerSearch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
   }
   &__search {
      display: flex;
      border: 1px solid $background-color-purple;
      border-radius: 50px;
      padding: 15px 0px;
      height: 18px;
      width: 549px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &--active {
         border-radius: 27px;
         height: auto;
      }
   }
   &__inputSearch {
      width: 75%;
      border: none;
      margin-left: 24px;
      margin-right: 34px;
      font-family: $secondary-font-family;
      font-size: 1rem;
      color: $text-color-black;
      ::-webkit-input-placeholder {
         color: $text-color-gray;
      }
   }
   &__iconSearch {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &--inactive {
         opacity: 0;
         cursor: default;
      }

      &--close {
         width: 15px;
         height: 15px;
      }
   }
   &__suggestions {
      margin-top: 10px;
      width: 93%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &--active {
         display: flex;
         border-top: 1px solid $text-color-gray;
      }
   }
   &__li {
      text-decoration: none;
      list-style: none;
      display: flex;
      margin-top: 10px;
      font-size: 1rem;
      color: $text-color-gray;
      font-family: $secondary-font-family;
      cursor: pointer;
      &--inactive {
         cursor: default;
      }
   }
   &__icon {
      width: 15px;
      height: 15px;
      margin-right: 25px;
      pointer-events: none;
   }

   &__trending {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 73px;
   }

   &__titleTrending {
      color: $text-color-purple;
      font-weight: 700;
      text-align: center;
   }

   &__topics {
      margin-top: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      color: $text-color-purple;
   }
   &__topic {
      margin-left: 5px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
         border-bottom: 2px solid $text-color-green;
      }
      &:active {
         color: $text-color-gray;
         border: none;
      }
   }
}

.results {
   display: none;
   &--active {
      display: flex;
      width: 82%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__line {
      width: 338px;
      border-top: 1px solid $text-color-gray;
      opacity: 0.5;
      margin-top: 55px;
   }
   &__title {
      color: $text-color-purple;
      font-size: 2rem;
      margin-top: 80px;
   }
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 46px;
   }

   &__noContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 63px;
   }

   &__message {
      font-weight: 700;
      color: $text-color-green;
      font-size: 1.4rem;
      margin-top: 29px;
   }

   &__card {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 260px;
      height: 200px;
      background: $background-color-purple;
      position: relative;
      margin: 14px 15px;

      &:hover {
         .results__img {
            opacity: 0.6;
         }
         .results__buttons,
         .results__info {
            display: flex;
         }
      }
   }
   &__img {
      height: 100%;
      width: 100%;
   }
   &__buttons {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      top: 10px;
      right: 10px;
   }
   &__button {
      width: 32px;
      height: 32px;
      background-color: $background-color-white;
      border-radius: 5px;
      margin-left: 11px;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }
   &__info {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      left: 18px;
      bottom: 27px;
   }
   &__author {
      font-family: $secondary-font-family;
      color: $text-color-white;
   }
   &__titleGifo {
      font-family: $secondary-font-family;
      color: $text-color-white;
      font-weight: 700;
   }
   &__more {
      font-size: 0.8rem;
      color: $text-color-purple;
      height: 50px;
      width: 127px;
      border: 1px solid $background-color-purple;
      font-weight: 700;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      margin-top: 78px;
      &:hover {
         background: $background-color-purple;
         color: $text-color-white;
      }

      &--active {
         display: flex;
      }
   }
}

.favorites {
   display: none;
   &--active {
      display: flex;
      width: 82%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__line {
      width: 338px;
      border-top: 1px solid $text-color-gray;
      opacity: 0.5;
      margin-top: 55px;
   }
   &__container-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   &__title {
      color: $text-color-purple;
      font-size: 2rem;
      margin-top: 8px;
   }
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 46px;
   }

   &__noContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 63px;
   }

   &__message {
      font-weight: 700;
      color: $text-color-green;
      font-size: 1.4rem;
      margin-top: 24px;
      max-width: 431px;
      text-align: center;
   }

   &__card {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 260px;
      height: 200px;
      background: $background-color-purple;
      position: relative;
      margin: 14px 15px;

      &:hover {
         .favorites__img {
            opacity: 0.6;
         }
         .favorites__buttons,
         .favorites__info {
            display: flex;
         }
      }
   }
   &__img {
      height: 100%;
      width: 100%;
   }
   &__buttons {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      top: 10px;
      right: 10px;
   }
   &__button {
      width: 32px;
      height: 32px;
      background-color: $background-color-white;
      border-radius: 5px;
      margin-left: 11px;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }
   &__info {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      left: 18px;
      bottom: 27px;
   }
   &__author {
      font-family: $secondary-font-family;
      color: $text-color-white;
   }
   &__titleGifo {
      font-family: $secondary-font-family;
      color: $text-color-white;
      font-weight: 700;
   }
   &__more {
      font-size: 0.8rem;
      color: $text-color-purple;
      height: 50px;
      width: 127px;
      border: 1px solid $background-color-purple;
      font-weight: 700;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      margin-top: 78px;
      &:hover {
         background: $background-color-purple;
         color: $text-color-white;
      }

      &--active {
         display: flex;
      }
   }
}

.gifos {
   display: none;
   &--active {
      display: flex;
      width: 82%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__line {
      width: 338px;
      border-top: 1px solid $text-color-gray;
      opacity: 0.5;
      margin-top: 55px;
   }
   &__container-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   &__title {
      color: $text-color-purple;
      font-size: 2rem;
      margin-top: 8px;
   }
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 46px;
   }

   &__noContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 63px;
   }

   &__message {
      font-weight: 700;
      color: $text-color-green;
      font-size: 1.4rem;
      margin-top: 24px;
      max-width: 431px;
      text-align: center;
   }

   &__card {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 260px;
      height: 200px;
      background: $background-color-purple;
      position: relative;
      margin: 14px 15px;

      &:hover {
         .gifos__img {
            opacity: 0.6;
         }
         .gifos__buttons,
         .gifos__info {
            display: flex;
         }
      }
   }
   &__img {
      height: 100%;
      width: 100%;
   }
   &__buttons {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      top: 10px;
      right: 10px;
   }
   &__button {
      width: 32px;
      height: 32px;
      background-color: $background-color-white;
      border-radius: 5px;
      margin-left: 11px;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }
   &__info {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      left: 18px;
      bottom: 27px;
   }
   &__author {
      font-family: $secondary-font-family;
      color: $text-color-white;
   }
   &__titleGifo {
      font-family: $secondary-font-family;
      color: $text-color-white;
      font-weight: 700;
   }
   &__more {
      font-size: 0.8rem;
      color: $text-color-purple;
      height: 50px;
      width: 127px;
      border: 1px solid $background-color-purple;
      font-weight: 700;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      margin-top: 78px;
      &:hover {
         background: $background-color-purple;
         color: $text-color-white;
      }

      &--active {
         display: flex;
      }
   }
}

.create {
   display: none;
   &--active {
      display: flex;
      width: 82%;
      min-height: 77vh;
      justify-content: space-between;
   }
   &__camera {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__iconCamera{
      width: 130px;
   }
   &__iconMovie{
      width: 150px;
   }
   &__container {
      display: flex;
      flex-direction: column;
      width: 788px;
      justify-content: center;
      align-items: center;
      &-gifo {
         display: flex;
         flex-direction: column;
         width: 648px;
         height: 350px;
         max-width: 688px;
         max-height: 390px;
         border: 1px solid $background-color-purple;
         padding: 20px;
      }

      &-steps {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 24px 0px;
         max-width: 688px;
         width: 100%;
      }

      &-button {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
      }
   }
   &__margin {
      &-top {
         width: 100%;
         display: flex;
         justify-content: space-between;
         & > span {
            height: 24px;
            width: 26px;
         }

         :nth-child(1) {
            border-left: 1px solid $text-color-green;
            border-top: 1px solid $text-color-green;
         }
         :nth-child(2) {
            border-right: 1px solid $text-color-green;
            border-top: 1px solid $text-color-green;
         }
      }
      &-bottom {
         width: 100%;
         display: flex;
         justify-content: space-between;
         & > span {
            height: 24px;
            width: 26px;
         }

         :nth-child(1) {
            border-left: 1px solid $text-color-green;
            border-bottom: 1px solid $text-color-green;
         }
         :nth-child(2) {
            border-right: 1px solid $text-color-green;
            border-bottom: 1px solid $text-color-green;
         }
      }
   }

   &__gif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 87%;
   }

   &__title {
      color: $text-color-purple;
      font-size: 25px;
      font-weight: 700;
      margin-top: 5px;
   }

   &__subtitle {
      color: $text-color-black;
      font-family: $secondary-font-family;
      font-size: 16px;
      margin-top: 10px;
      font-weight: 400;
   }

   &__ul {
      display: flex;
      width: 63%;
      justify-content: flex-end;
   }

   &__li {
      width: 31px;
      height: 31px;
      border: 1px solid #572ee5;
      border-radius: 50px;
      margin: 0px 13px;
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-family: $secondary-font-family;
      font-weight: 500;
      color: $text-color-purple;

      &--active {
         background-color: $background-color-purple;
         color: $background-color-white;
      }
   }

   &__movie {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 12%;
   }

   &__line {
      height: 7px;
      width: 100%;
      background-color: $background-color-purple;
      border-radius: 5px;
   }
   &__container-video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      &--upload {
         background-color: $background-color-purple;
      }
   }

   &__video {
      max-width: 480px;
      height: 320px;

      &--inactive {
         display: none;
      }

      &--upload {
         opacity: 0.6;
      }
   }
   &__buttons {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      top: 10px;
      right: 10px;
   }
   .create__button {
      width: 32px;
      height: 32px;
      background-color: $background-color-white;
      border-radius: 5px;
      margin-left: 11px;
      opacity: 0.7;
      cursor: pointer;
   }

   .create__button:hover {
      opacity: 1;
   }

   &__message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--inactive {
         display: none;
      }

      &-gif {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         &--inactive {
            display: none !important;
         }
      }
   }

   &__infoAdditional {
      width: 37%;
      display: flex;
      justify-content: flex-end;

      &--inactive {
         opacity: 0;
      }
   }

   &__plus {
      font-size: 15px;
      color: $text-color-purple;
      font-weight: 700;

      &--active {
         border-bottom: $text-color-green 2px solid;
         cursor: pointer;
      }
   }

   &__message-gif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
   }
   &__text-alternate {
      color: $text-color-white;
      font-weight: 700;
      margin-top: 10px;
   }

   &__icon {
      &--loader {
         animation: reload;
         animation-duration: 2s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
      }
   }
}

.trending {
   margin-top: 162px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 640px;
   background-color: $background-color-dark-white;
   &--inactive {
      display: none;
   }
   &__title {
      font-size: 1.56rem;
      color: $text-color-purple;
      font-weight: 700;
   }
   &__text {
      color: $text-color-black;
      font-family: $secondary-font-family;
      font-size: 1.1rem;
      margin-top: 12px;
   }

   &__slide {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin-top: 53px;
      width: 95%;
      overflow-x: auto;
      ::-webkit-scrollbar {
         display: none;
      }
   }

   &__cards {
      display: flex;
      width: 90%;
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: space-between;
      align-items: center;
      :first-child {
         margin-left: 0px;
      }
      :last-child {
         margin-right: 0px;
      }
   }
   &__card {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 357px;
      height: 275px;
      background: $background-color-purple;
      position: relative;
      margin: 0px 7px;

      &:hover {
         .trending__img {
            opacity: 0.6;
         }
         .trending__buttons,
         .trending__info {
            display: flex;
         }
      }
   }
   &__img {
      height: 100%;
      width: 100%;
   }
   &__buttons {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      top: 10px;
      right: 10px;
   }
   &__button {
      width: 32px;
      height: 32px;
      margin-left: 11px;
      opacity: 0.7;
      background-color: $background-color-white;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }

   &__info {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      left: 18px;
      bottom: 51px;
   }
   &__author {
      font-family: $secondary-font-family;
      color: $text-color-white;
   }
   &__titleGifo {
      font-family: $secondary-font-family;
      color: $text-color-white;
      font-weight: 700;
   }

   &__arrow {
      font-size: 1rem;
      color: $text-color-purple;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $background-color-purple;
      position: relative;
      z-index: 1;
      cursor: pointer;
      &:hover {
         color: $text-color-white;
         background-color: $background-color-purple;
      }

      i {
         pointer-events: none;
      }

      &--inactive {
         cursor: not-allowed;
         border: none;
         pointer-events: none;
         color: $text-color-white;
         background-color: $background-color-light-gray;
         &:hover {
            color: $text-color-white;
            background-color: $background-color-light-gray;
         }
      }
   }
   #trending-arrowLeft {
      left: -10px;
   }
   #trending-arrowRight {
      right: -10px;
   }
}

.modal {
   position: fixed;
   z-index: 100;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   background: $background-color-white;
   justify-content: center;
   align-items: center;
   display: none;

   &--active {
      display: flex;
   }

   &__container {
      position: absolute;
   }

   &__close {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 750px;
      top: -50px;
   }

   &__img {
      width: 695px;
      height: 385px;
      background-color: $background-color-white;
   }

   &__container-options {
      display: flex;
      justify-content: space-between;
      margin-top: 22px;
   }

   &__info {
   }

   &__author {
      font-family: $secondary-font-family;
      color: $text-color-black;
   }
   &__titleGifo {
      margin-top: 6px;
      font-family: $secondary-font-family;
      font-weight: 700;
      color: $text-color-black;
   }

   &__buttons {
      display: flex;
   }

   &__button {
      margin: 0 8px;
      border: 1px solid #ced7e1;
      border-radius: 5px;
      width: 32px;
      height: 32px;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
         opacity: 1;
      }
   }
}

.footer {
   display: flex;
   justify-content: space-between;
   width: 82%;
   height: 116px;
   align-items: center;

   &__social {
      display: flex;
   }
   &__title {
      font-family: $secondary-font-family;
      font-size: 13px;
   }

   &__icons {
      display: flex;
   }
   &__icon {
      text-decoration: none;
      list-style: none;
      :first-child {
         margin-left: 10px;
      }
   }
   &__a {
      color: $text-color-gray;
      &:hover {
         color: $text-color-purple;
      }
   }
}

.button {
   font-size: 0.8rem;
   color: $text-color-purple;
   height: 50px;
   width: 127px;
   border: 1px solid $background-color-purple;
   font-weight: 700;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
   margin: 20px 0px;
   &:hover {
      background: $background-color-purple;
      color: $text-color-white;
   }

   &--inactive {
      display: none;
   }
}

.zIndexHidden {
   z-index: -1;
}

//  Media querys

@media only screen and (max-width: $breakpoint-mobile) {
   .header {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      color: $text-color-purple;
      background-color: $background-color-white;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      height: 90px;
      position: sticky;
      &__search {
         display: none;
      }
      &__figure {
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 22px;
      }
      &__logo {
         height: 48px;
         width: 48px;
      }
      &__icon {
         opacity: 1;
         margin-right: 22px;
         pointer-events: none;
      }
      &__iconMenu {
         pointer-events: none;
      }
      &__nav {
         width: 100%;
         display: none;
         flex-direction: column;
         background-color: $background-color-purple;
         height: 100vh;
         justify-content: flex-start;
         z-index: 10;
      }
      &__ul {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-direction: column;
         margin-top: 17px;
      }
      &__li {
         font-size: 15px;
         text-align: center;
         color: $text-color-white;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      &__line {
         width: 41px;
         border-top: 1px solid $text-color-gray;
         opacity: 0.5;
         list-style: none;
         text-decoration: none;
      }
      &__circle {
         margin-top: 24px;
         border: 1px solid $background-color-white;
         color: $text-color-white;
      }
   }

   .home {
      &__title {
         font-size: 1.6rem;
      }
      &__img {
         width: 273px;
      }
      &__containerSearch {
         margin-top: 31px;
      }
      &__search {
         width: 333px;
      }
      &__inputSearch {
         width: 57%;
      }
      &__trending {
         margin-top: 31px;
      }

      &__titleTrending {
         color: $text-color-purple;
         font-weight: 700;
         text-align: center;
      }

      &__topics {
         width: 333px;
         flex-wrap: wrap;
      }
   }

   .create {
      &--active {
         flex-wrap: wrap;
      }
      &__camera {
         display: none;
      }
      &__container {
         width: 100%;
         flex-wrap: wrap;
         &-gifo {
            width: 86%;
            height: 350px;
         }

         &-steps {
            flex-wrap: wrap;
         }
      }
      &__margin {
         &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & > span {
               height: 24px;
               width: 26px;
            }

            :nth-child(1) {
               border-left: 1px solid $text-color-green;
               border-top: 1px solid $text-color-green;
            }
            :nth-child(2) {
               border-right: 1px solid $text-color-green;
               border-top: 1px solid $text-color-green;
            }
         }
         &-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & > span {
               height: 24px;
               width: 26px;
            }

            :nth-child(1) {
               border-left: 1px solid $text-color-green;
               border-bottom: 1px solid $text-color-green;
            }
            :nth-child(2) {
               border-right: 1px solid $text-color-green;
               border-bottom: 1px solid $text-color-green;
            }
         }
      }
      &__title {
         text-align: center;
      }
      &__subtitle {
         text-align: center;
      }
      &__ul {
         width: 100%;
         justify-content: center;
      }
      &__movie {
         display: none;
      }

      &__infoAdditional {
         width: 100%;
         justify-content: center;
         margin-top: 25px;
      }
      &__icon {
         &--loader {
            animation: reload;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
         }
      }
   }

   .trending {
      margin-top: 42px;
      height: 524px;
      &__text {
         width: 333px;
         text-align: center;
      }
      &__card {
         width: 314px;
         height: 260px;
      }
      &__arrow {
         display: none;
      }
   }

   .modal {
      &__close {
         left: 283px;
         top: -50px;
      }

      &__img {
         width: 318px;
         height: 245px;
      }

      &__titleGifo {
         width: 208px;
      }
   }

   .footer {
      display: flex;
      justify-content: space-between;
      width: 82%;
      height: 116px;
      align-items: center;
      flex-direction: column;
      margin-bottom: 23px;
      margin-top: 47px;

      &__social {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__title {
         font-size: 15px;
      }

      &__icons {
         display: flex;
         margin-top: 24px;
         width: 100%;
         justify-content: space-around;
         align-items: center;
         :first-child {
            :first-child {
               margin-left: 0px;
            }
         }
      }
   }
}

@media only screen and (max-width: $breakpoint-tablet) and (min-width: $breakpoint-mobile + 1) {
   .header {
      width: 90%;
      font-size: 16px;
      &__search {
         display: none;
      }
      &__figure {
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 22px;
      }
      &__logo {
         height: 48px;
         width: 48px;
      }

      &__nav {
         margin-right: 24px;
      }
   }

   .home {
      &__img {
         width: 273px;
      }
      &__containerSearch {
         margin-top: 31px;
      }
   }

   .create {
      &--active {
         flex-wrap: wrap;
      }
      &__camera {
         display: none;
      }
      &__container {
         width: 100%;
         flex-wrap: wrap;
         &-gifo {
            width: 86%;
            height: 350px;
         }

         &-steps {
            flex-wrap: wrap;
         }
      }
      &__margin {
         &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & > span {
               height: 24px;
               width: 26px;
            }

            :nth-child(1) {
               border-left: 1px solid $text-color-green;
               border-top: 1px solid $text-color-green;
            }
            :nth-child(2) {
               border-right: 1px solid $text-color-green;
               border-top: 1px solid $text-color-green;
            }
         }
         &-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & > span {
               height: 24px;
               width: 26px;
            }

            :nth-child(1) {
               border-left: 1px solid $text-color-green;
               border-bottom: 1px solid $text-color-green;
            }
            :nth-child(2) {
               border-right: 1px solid $text-color-green;
               border-bottom: 1px solid $text-color-green;
            }
         }
      }
      &__title {
         text-align: center;
      }
      &__subtitle {
         text-align: center;
      }
      &__ul {
         width: 100%;
         justify-content: center;
      }
      &__movie {
         display: none;
      }

      &__infoAdditional {
         width: 100%;
         justify-content: center;
         margin-top: 25px;
      }
      &__icon {
         &--loader {
            animation: reload;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
         }
      }
   }

   .trending {
      &__card {
         width: 314px;
         height: 260px;
      }
      &__arrow {
         display: none;
      }
   }

   .modal {
      &__close {
         left: 453px;
         top: -50px;
      }

      &__img {
         width: 406px;
         height: 245px;
      }
   }

   .footer {
      &__title {
         font-size: 15px;
      }
   }
}

@keyframes reload {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(365deg);
   }
}
