@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  border-top: 5px solid #572ee5;
  border-bottom: 5px solid #572ee5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

body.body-inactive {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  color: #572ee5;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  height: 90px;
  position: -webkit-sticky;
  position: sticky;
}

.header__logo {
  height: 68px;
  width: 68px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #572ee5;
  border-radius: 50px;
  padding: 15px 0px;
  height: 18px;
  width: 332px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  opacity: 0;
}

.header__search--active {
  opacity: 1;
}

.header__inputSearch {
  width: 60%;
  border: none;
  margin-left: 24px;
  margin-right: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #9cafc3;
}

.header__iconSearch {
  cursor: pointer;
}

.header__icon {
  opacity: 0;
}

.header__input {
  display: none;
}

.header__input:checked ~ .header__label .header__icon {
  background: transparent;
}

.header__input:checked ~ .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li {
  list-style: none;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #572ee5;
  margin: 0px 25px;
  cursor: pointer;
}

.header__li:hover {
  border-bottom: 2px solid #50e3c2;
}

.header__li:active {
  color: #9cafc3;
  border: none;
}

.header__li--active {
  color: #9cafc3;
}

.header__line {
  list-style: none;
  text-decoration: none;
}

.header__circle {
  width: 52px;
  height: 52px;
  min-width: 52px;
  min-height: 52px;
  border: 1px solid #572ee5;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__circle:hover {
  color: #ffffff;
  background-color: #572ee5;
}

.header__circle:active {
  background-color: #9cafc3;
  border: 1px solid #9cafc3;
}

.header__circle--active {
  background-color: #9cafc3;
  border: 1px solid #9cafc3;
  color: #ffffff;
}

.home {
  display: none;
}

.home--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-top: 76px;
}

.home__title {
  font-size: 2.2rem;
  color: #572ee5;
  max-width: 65%;
  text-align: center;
}

.home__span {
  color: #50e3c2;
}

.home__containerSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.home__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #572ee5;
  border-radius: 50px;
  padding: 15px 0px;
  height: 18px;
  width: 549px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__search--active {
  border-radius: 27px;
  height: auto;
}

.home__inputSearch {
  width: 75%;
  border: none;
  margin-left: 24px;
  margin-right: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
}

.home__inputSearch ::-webkit-input-placeholder {
  color: #9cafc3;
}

.home__iconSearch {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.home__iconSearch--inactive {
  opacity: 0;
  cursor: default;
}

.home__iconSearch--close {
  width: 15px;
  height: 15px;
}

.home__suggestions {
  margin-top: 10px;
  width: 93%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home__suggestions--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #9cafc3;
}

.home__li {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 1rem;
  color: #9cafc3;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.home__li--inactive {
  cursor: default;
}

.home__icon {
  width: 15px;
  height: 15px;
  margin-right: 25px;
  pointer-events: none;
}

.home__trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 73px;
}

.home__titleTrending {
  color: #572ee5;
  font-weight: 700;
  text-align: center;
}

.home__topics {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #572ee5;
}

.home__topic {
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}

.home__topic:hover {
  border-bottom: 2px solid #50e3c2;
}

.home__topic:active {
  color: #9cafc3;
  border: none;
}

.results {
  display: none;
}

.results--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__line {
  width: 338px;
  border-top: 1px solid #9cafc3;
  opacity: 0.5;
  margin-top: 55px;
}

.results__title {
  color: #572ee5;
  font-size: 2rem;
  margin-top: 80px;
}

.results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
}

.results__noContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 63px;
}

.results__message {
  font-weight: 700;
  color: #50e3c2;
  font-size: 1.4rem;
  margin-top: 29px;
}

.results__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 200px;
  background: #572ee5;
  position: relative;
  margin: 14px 15px;
}

.results__card:hover .results__img {
  opacity: 0.6;
}

.results__card:hover .results__buttons,
.results__card:hover .results__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results__img {
  height: 100%;
  width: 100%;
}

.results__buttons {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
}

.results__button {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 11px;
  opacity: 0.7;
  cursor: pointer;
}

.results__button:hover {
  opacity: 1;
}

.results__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 18px;
  bottom: 27px;
}

.results__author {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.results__titleGifo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.results__more {
  font-size: 0.8rem;
  color: #572ee5;
  height: 50px;
  width: 127px;
  border: 1px solid #572ee5;
  font-weight: 700;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  margin-top: 78px;
}

.results__more:hover {
  background: #572ee5;
  color: #ffffff;
}

.results__more--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favorites {
  display: none;
}

.favorites--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites__line {
  width: 338px;
  border-top: 1px solid #9cafc3;
  opacity: 0.5;
  margin-top: 55px;
}

.favorites__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favorites__title {
  color: #572ee5;
  font-size: 2rem;
  margin-top: 8px;
}

.favorites__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
}

.favorites__noContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 63px;
}

.favorites__message {
  font-weight: 700;
  color: #50e3c2;
  font-size: 1.4rem;
  margin-top: 24px;
  max-width: 431px;
  text-align: center;
}

.favorites__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 200px;
  background: #572ee5;
  position: relative;
  margin: 14px 15px;
}

.favorites__card:hover .favorites__img {
  opacity: 0.6;
}

.favorites__card:hover .favorites__buttons,
.favorites__card:hover .favorites__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favorites__img {
  height: 100%;
  width: 100%;
}

.favorites__buttons {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
}

.favorites__button {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 11px;
  opacity: 0.7;
  cursor: pointer;
}

.favorites__button:hover {
  opacity: 1;
}

.favorites__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 18px;
  bottom: 27px;
}

.favorites__author {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.favorites__titleGifo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.favorites__more {
  font-size: 0.8rem;
  color: #572ee5;
  height: 50px;
  width: 127px;
  border: 1px solid #572ee5;
  font-weight: 700;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  margin-top: 78px;
}

.favorites__more:hover {
  background: #572ee5;
  color: #ffffff;
}

.favorites__more--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifos {
  display: none;
}

.gifos--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifos__line {
  width: 338px;
  border-top: 1px solid #9cafc3;
  opacity: 0.5;
  margin-top: 55px;
}

.gifos__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gifos__title {
  color: #572ee5;
  font-size: 2rem;
  margin-top: 8px;
}

.gifos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
}

.gifos__noContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 63px;
}

.gifos__message {
  font-weight: 700;
  color: #50e3c2;
  font-size: 1.4rem;
  margin-top: 24px;
  max-width: 431px;
  text-align: center;
}

.gifos__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 200px;
  background: #572ee5;
  position: relative;
  margin: 14px 15px;
}

.gifos__card:hover .gifos__img {
  opacity: 0.6;
}

.gifos__card:hover .gifos__buttons,
.gifos__card:hover .gifos__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifos__img {
  height: 100%;
  width: 100%;
}

.gifos__buttons {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
}

.gifos__button {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 11px;
  opacity: 0.7;
  cursor: pointer;
}

.gifos__button:hover {
  opacity: 1;
}

.gifos__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 18px;
  bottom: 27px;
}

.gifos__author {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.gifos__titleGifo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.gifos__more {
  font-size: 0.8rem;
  color: #572ee5;
  height: 50px;
  width: 127px;
  border: 1px solid #572ee5;
  font-weight: 700;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  margin-top: 78px;
}

.gifos__more:hover {
  background: #572ee5;
  color: #ffffff;
}

.gifos__more--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create {
  display: none;
}

.create--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  min-height: 77vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create__camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__iconCamera {
  width: 130px;
}

.create__iconMovie {
  width: 150px;
}

.create__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 788px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__container-gifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 648px;
  height: 350px;
  max-width: 688px;
  max-height: 390px;
  border: 1px solid #572ee5;
  padding: 20px;
}

.create__container-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0px;
  max-width: 688px;
  width: 100%;
}

.create__container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.create__margin-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create__margin-top > span {
  height: 24px;
  width: 26px;
}

.create__margin-top :nth-child(1) {
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.create__margin-top :nth-child(2) {
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.create__margin-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create__margin-bottom > span {
  height: 24px;
  width: 26px;
}

.create__margin-bottom :nth-child(1) {
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

.create__margin-bottom :nth-child(2) {
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

.create__gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87%;
}

.create__title {
  color: #572ee5;
  font-size: 25px;
  font-weight: 700;
  margin-top: 5px;
}

.create__subtitle {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}

.create__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create__li {
  width: 31px;
  height: 31px;
  border: 1px solid #572ee5;
  border-radius: 50px;
  margin: 0px 13px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #572ee5;
}

.create__li--active {
  background-color: #572ee5;
  color: #ffffff;
}

.create__movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 12%;
}

.create__line {
  height: 7px;
  width: 100%;
  background-color: #572ee5;
  border-radius: 5px;
}

.create__container-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.create__container-video--upload {
  background-color: #572ee5;
}

.create__video {
  max-width: 480px;
  height: 320px;
}

.create__video--inactive {
  display: none;
}

.create__video--upload {
  opacity: 0.6;
}

.create__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
}

.create .create__button {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 11px;
  opacity: 0.7;
  cursor: pointer;
}

.create .create__button:hover {
  opacity: 1;
}

.create__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__message--inactive {
  display: none;
}

.create__message-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__message-gif--inactive {
  display: none !important;
}

.create__infoAdditional {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create__infoAdditional--inactive {
  opacity: 0;
}

.create__plus {
  font-size: 15px;
  color: #572ee5;
  font-weight: 700;
}

.create__plus--active {
  border-bottom: #50e3c2 2px solid;
  cursor: pointer;
}

.create__message-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.create__text-alternate {
  color: #ffffff;
  font-weight: 700;
  margin-top: 10px;
}

.create__icon--loader {
  -webkit-animation: reload;
          animation: reload;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trending {
  margin-top: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 640px;
  background-color: #f3f5f8;
}

.trending--inactive {
  display: none;
}

.trending__title {
  font-size: 1.56rem;
  color: #572ee5;
  font-weight: 700;
}

.trending__text {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-top: 12px;
}

.trending__slide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 53px;
  width: 95%;
  overflow-x: auto;
}

.trending__slide ::-webkit-scrollbar {
  display: none;
}

.trending__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending__cards :first-child {
  margin-left: 0px;
}

.trending__cards :last-child {
  margin-right: 0px;
}

.trending__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 357px;
  height: 275px;
  background: #572ee5;
  position: relative;
  margin: 0px 7px;
}

.trending__card:hover .trending__img {
  opacity: 0.6;
}

.trending__card:hover .trending__buttons,
.trending__card:hover .trending__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending__img {
  height: 100%;
  width: 100%;
}

.trending__buttons {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
}

.trending__button {
  width: 32px;
  height: 32px;
  margin-left: 11px;
  opacity: 0.7;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.trending__button:hover {
  opacity: 1;
}

.trending__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 18px;
  bottom: 51px;
}

.trending__author {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.trending__titleGifo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.trending__arrow {
  font-size: 1rem;
  color: #572ee5;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #572ee5;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.trending__arrow:hover {
  color: #ffffff;
  background-color: #572ee5;
}

.trending__arrow i {
  pointer-events: none;
}

.trending__arrow--inactive {
  cursor: not-allowed;
  border: none;
  pointer-events: none;
  color: #ffffff;
  background-color: #9cafc3;
}

.trending__arrow--inactive:hover {
  color: #ffffff;
  background-color: #9cafc3;
}

.trending #trending-arrowLeft {
  left: -10px;
}

.trending #trending-arrowRight {
  right: -10px;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__container {
  position: absolute;
}

.modal__close {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 750px;
  top: -50px;
}

.modal__img {
  width: 695px;
  height: 385px;
  background-color: #ffffff;
}

.modal__container-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.modal__author {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.modal__titleGifo {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__button {
  margin: 0 8px;
  border: 1px solid #ced7e1;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
  height: 116px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  text-decoration: none;
  list-style: none;
}

.footer__icon :first-child {
  margin-left: 10px;
}

.footer__a {
  color: #9cafc3;
}

.footer__a:hover {
  color: #572ee5;
}

.button {
  font-size: 0.8rem;
  color: #572ee5;
  height: 50px;
  width: 127px;
  border: 1px solid #572ee5;
  font-weight: 700;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  margin: 20px 0px;
}

.button:hover {
  background: #572ee5;
  color: #ffffff;
}

.button--inactive {
  display: none;
}

.zIndexHidden {
  z-index: -1;
}

@media only screen and (max-width: 760px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    color: #572ee5;
    background-color: #ffffff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    height: 90px;
    position: -webkit-sticky;
    position: sticky;
  }
  .header__search {
    display: none;
  }
  .header__figure {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 22px;
  }
  .header__logo {
    height: 48px;
    width: 48px;
  }
  .header__icon {
    opacity: 1;
    margin-right: 22px;
    pointer-events: none;
  }
  .header__iconMenu {
    pointer-events: none;
  }
  .header__nav {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #572ee5;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 10;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 17px;
  }
  .header__li {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__line {
    width: 41px;
    border-top: 1px solid #9cafc3;
    opacity: 0.5;
    list-style: none;
    text-decoration: none;
  }
  .header__circle {
    margin-top: 24px;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  .home__title {
    font-size: 1.6rem;
  }
  .home__img {
    width: 273px;
  }
  .home__containerSearch {
    margin-top: 31px;
  }
  .home__search {
    width: 333px;
  }
  .home__inputSearch {
    width: 57%;
  }
  .home__trending {
    margin-top: 31px;
  }
  .home__titleTrending {
    color: #572ee5;
    font-weight: 700;
    text-align: center;
  }
  .home__topics {
    width: 333px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create--active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__camera {
    display: none;
  }
  .create__container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__container-gifo {
    width: 86%;
    height: 350px;
  }
  .create__container-steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__margin-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .create__margin-top > span {
    height: 24px;
    width: 26px;
  }
  .create__margin-top :nth-child(1) {
    border-left: 1px solid #50e3c2;
    border-top: 1px solid #50e3c2;
  }
  .create__margin-top :nth-child(2) {
    border-right: 1px solid #50e3c2;
    border-top: 1px solid #50e3c2;
  }
  .create__margin-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .create__margin-bottom > span {
    height: 24px;
    width: 26px;
  }
  .create__margin-bottom :nth-child(1) {
    border-left: 1px solid #50e3c2;
    border-bottom: 1px solid #50e3c2;
  }
  .create__margin-bottom :nth-child(2) {
    border-right: 1px solid #50e3c2;
    border-bottom: 1px solid #50e3c2;
  }
  .create__title {
    text-align: center;
  }
  .create__subtitle {
    text-align: center;
  }
  .create__ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .create__movie {
    display: none;
  }
  .create__infoAdditional {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .create__icon--loader {
    -webkit-animation: reload;
            animation: reload;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .trending {
    margin-top: 42px;
    height: 524px;
  }
  .trending__text {
    width: 333px;
    text-align: center;
  }
  .trending__card {
    width: 314px;
    height: 260px;
  }
  .trending__arrow {
    display: none;
  }
  .modal__close {
    left: 283px;
    top: -50px;
  }
  .modal__img {
    width: 318px;
    height: 245px;
  }
  .modal__titleGifo {
    width: 208px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 82%;
    height: 116px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23px;
    margin-top: 47px;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title {
    font-size: 15px;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__icons :first-child :first-child {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 761px) {
  .header {
    width: 90%;
    font-size: 16px;
  }
  .header__search {
    display: none;
  }
  .header__figure {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 22px;
  }
  .header__logo {
    height: 48px;
    width: 48px;
  }
  .header__nav {
    margin-right: 24px;
  }
  .home__img {
    width: 273px;
  }
  .home__containerSearch {
    margin-top: 31px;
  }
  .create--active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__camera {
    display: none;
  }
  .create__container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__container-gifo {
    width: 86%;
    height: 350px;
  }
  .create__container-steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .create__margin-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .create__margin-top > span {
    height: 24px;
    width: 26px;
  }
  .create__margin-top :nth-child(1) {
    border-left: 1px solid #50e3c2;
    border-top: 1px solid #50e3c2;
  }
  .create__margin-top :nth-child(2) {
    border-right: 1px solid #50e3c2;
    border-top: 1px solid #50e3c2;
  }
  .create__margin-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .create__margin-bottom > span {
    height: 24px;
    width: 26px;
  }
  .create__margin-bottom :nth-child(1) {
    border-left: 1px solid #50e3c2;
    border-bottom: 1px solid #50e3c2;
  }
  .create__margin-bottom :nth-child(2) {
    border-right: 1px solid #50e3c2;
    border-bottom: 1px solid #50e3c2;
  }
  .create__title {
    text-align: center;
  }
  .create__subtitle {
    text-align: center;
  }
  .create__ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .create__movie {
    display: none;
  }
  .create__infoAdditional {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .create__icon--loader {
    -webkit-animation: reload;
            animation: reload;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .trending__card {
    width: 314px;
    height: 260px;
  }
  .trending__arrow {
    display: none;
  }
  .modal__close {
    left: 453px;
    top: -50px;
  }
  .modal__img {
    width: 406px;
    height: 245px;
  }
  .footer__title {
    font-size: 15px;
  }
}

@-webkit-keyframes reload {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}

@keyframes reload {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
/*# sourceMappingURL=style-light.css.map */