@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 940px;
$breakpoint-medium: 1070px; 

*{
    margin: 0;
    padding: 0;
    font-family: $primary-font-family;
}